<div>
    <ul class="nav-choice">
        <li class = "active" class = "choices">
            <a href = "/">Home</a>
        </li>
        <li class = "choices">
            <a href = "/p/custom">Custom</a>
        </li>
    </ul>
</div>