<%- include('partials/header', {pageTitle: "Home"}) %>

<h1>Pokedex</h1>
<p>Search for your pokemon using it's name!</p>

<form id="Search">
  <label for="input">Enter the name of pokemon:</label>
  <input type="text" id="input" name="input">
  <input type="submit" value="Submit">
</form>

<script>
  document.getElementById("Search").addEventListener("submit", function (event) {
    event.preventDefault();
    var pName = document.getElementById("input").value;
    var url = "/p/" + pName;
    window.location.href = url;
    });
</script>

<%- include('partials/footer') %>
