<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <img src = <%= imgURL %> alt= "Pokemon Image">
    <p> <b>Pokemon name</b>: <%= name %></p>
    <p> <b>Pokemon type</b>: <%= type %></p>
    <p> <b>Description</b>: <%= description%></p>
</body>
</html>