body {
    background-color: black;
}

.card {
    border-width: 5 px;
    border-color:blueviolet;
    border-style:solid;
}

#pokemonImg {
    margin-left:auto;  
    margin-right:auto;  
    display:block;
    width: 40;
    height: 40;
}

h1 {
    color : white ;
}

label {
    color : white ;
}

p {
    color : white ;
}

#pokemonText {
    text-align: center;
    font-family: Verdana, Tahoma, "Trebuchet MS", "DejuVu Sans", "Bitstream Vera Sans", sans-serif; 
}